<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true" verbose="true">

    <testsuite name="Jeera Application Tests">
        <directory>./application</directory>    
    </testsuite>
     
    <testsuite name="Jeera Library Tests">
        <directory>./library</directory>
    </testsuite> 
    
    <filter>
        <whitelist>
            <directory suffix=".php">../application</directory>
            <directory suffix=".php">../library/Jeera</directory>
            <exclude>
                <directory suffix=".php">../library/Zend</directory>
                <directory suffix=".phtml">../application/</directory>
                <file>../application/Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" 
            target="./log/report" 
            charset="UTF-8" 
            yui="true" 
            highlight="true" 
            lowUpperBound="50" 
            highLowerBound="80" />
    </logging>
</phpunit>
